nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 1rem 4rem;

  h1 {
    color: #e50914;
    letter-spacing: 6px;
    span {
      font-size: 1.2em;
    }
  }

  div:nth-child(2) {
    display: flex;
    gap: 4rem;
    align-items: center;
    // width: 40%;
    justify-content: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    label {
      color: #fff;
      border-radius: 99px;
      display: flex;
      gap: 0.3125rem;
      background-color: #fff;
      padding: 0.3rem 0.7rem;
      align-items: center;
      justify-content: space-between;

      &:focus {
        background-color: #ddd;
      }
    }

    input {
      padding: 4px;
      font-size: 0.9rem;
      background-color: transparent;
      transition: 0.5s ease;
      border: 1px solid transparent;
      &:focus {
        outline: none;
      }
    }
  }
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.upcoming_anime {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #ddd;
  &:hover {
    opacity: 0.8;
  }
}
