nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 1rem 3rem;
  h1 {
    color: #e50914;
    letter-spacing: 6px;
    span {
      font-size: 1.2em;
    }
  }
  div:nth-child(2) {
    display: flex;
    gap: 5rem;
    align-items: center;
    width: 40%;
    justify-content: center;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 1rem;
    label {
      color: #fff;
    }
    input {
      padding: 4px;
      font-size: 15px;
      transition: 0.5s ease;
      border: 1px solid transparent;
      &:focus {
        outline: none;
        border-color: #e50914;
      }
    }
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.upcoming_heading {
  color: #ddd;
  &:hover {
    opacity: 0.8;
  }
}
