.no_items {
  p {
    margin: 3rem 0 1rem 0;
    color: #fafafa;
  }
  a {
    background-color: transparent;
    color: #fafafa;
    border: 0;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      color: #ddd;
    }
    &:focus {
      outline: none;
    }
  }
}

.watchlist_item {
  display: flex;
  background-color: #272727;
  margin: 2rem 0;

  div:nth-child(1) {
    height: 100%;
    img {
      align-items: center;
      width: 75%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_info {
    align-self: center;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;

    h2 {
      color: #ddd;
    }

    h4 {
      font-weight: 200;
      color: #ccc;
      margin-top: 0.5rem;
    }

    div {
      margin: 1rem 0;
      display: flex;
      gap: 10px;
      span {
        color: #fff;
      }
    }

    .isWatched {
      margin-top: 2rem;
      padding: 10px;
      display: flex;
      gap: 10px;
      border: 0;
      font-size: 0.9rem;
      align-items: center;
      width: fit-content;
      color: #ddd;
      background-color: #181818;
      cursor: pointer;

      &:hover {
        background-color: rgba(24, 24, 24, 0.6);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
