* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #181818;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272727;
  padding: 1rem 4rem;
}

nav h1 {
  color: #e50914;
  letter-spacing: 6px;
}

nav h1 span {
  font-size: 1.2em;
}

nav div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
}

nav form label {
  color: #fff;
  border-radius: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  background-color: #fff;
  padding: 0.3rem 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav form label:focus {
  background-color: #ddd;
}

nav form input {
  padding: 4px;
  font-size: 0.9rem;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 1px solid transparent;
}

nav form input:focus {
  outline: none;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.upcoming_anime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ddd;
}

.upcoming_anime:hover {
  opacity: 0.8;
}

.top_animes_section {
  width: 93%;
  margin: 2rem auto;
}

.top_animes_section h1 {
  color: #fff;
}

.top_animes_list,
.anime_recommendations {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1rem;
}

.anime_item_wrapper {
  height: 350px;
  width: 200px;
  margin: 0.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  justify-content: center;
}

.anime_item_wrapper .anime_image {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anime_item_wrapper .anime_image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.anime_item_wrapper span {
  text-align: center;
  margin-top: 5px;
  font-size: 0.8rem;
}

.anime_item_wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anime_info_wrapper {
  width: 90%;
  margin: 2rem auto;
}

.anime_info_wrapper h1 {
  color: #e0e0e0;
}

.anime_info_upper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  gap: 3rem;
}

.anime_info_upper:nth-child(1) {
  color: #ddd;
}

.anime_info_image {
  width: 100%;
}

.english_title {
  margin-top: 0.5rem;
  opacity: 0.6;
  font-size: 0.9em;
}

.anime_genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 0;
}

.anime_genre span {
  background-color: #ddd;
  border-radius: 999px;
  padding: 6px 10px;
  color: #272727;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
}

.anime_genre span:hover {
  background-color: #eee;
  color: #272727;
}

.anime_info_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.5rem 0;
}

.anime_info_stats div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.light {
  opacity: 0.6;
  font-size: 0.9em;
}

.anime_other_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.anime_other_info div span {
  margin-left: 5px;
  opacity: 0.6;
  font-size: 0.9em;
}

.anime_other_info div a {
  font-size: 0.9em;
  margin: auto 5px;
  text-decoration: underline;
  cursor: pointer;
}

.anime_other_info div a:hover {
  color: #999;
}

.anime_info_lower {
  margin-top: 2rem;
}

.anime_info_lower hr {
  margin: 1rem 0;
  color: #e0e0e0;
}

.anime_synopsis {
  padding-bottom: 0.5rem;
}

.anime_synopsis h2 {
  color: #ddd;
  letter-spacing: 2px;
}

.anime_synopsis p {
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px;
  color: #e0e0e0;
  opacity: 0.8;
  margin-top: 0.5rem;
  font-size: 0.9em;
}

.anime_characters_wrapper,
.anime_recommendations_wrapper {
  padding-bottom: 1rem;
}

.anime_characters_wrapper h2,
.anime_recommendations_wrapper h2 {
  color: #ddd;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.anime_characters {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 1.25rem;
  row-gap: 2rem;
}

.anime_characters img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.anime_character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anime_character span {
  font-size: 0.8rem;
  text-align: center;
  color: #ddd;
  margin-top: 10px;
}

.anime_recommendations {
  margin-top: 0.5rem;
}

@media all and (max-width: 768px) {
  nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .upcoming_anime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ddd;
  }
  .upcoming_anime:hover {
    opacity: 0.8;
  }
  .top_animes_list,
  .anime_recommendations {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .anime_item_wrapper {
    width: 150px;
  }
  .anime_item_wrapper span {
    margin-top: 1px;
  }
  .anime_info_upper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .anime_info_image_wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .anime_genre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .anime_info_stats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .anime_characters {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    grid-row-gap: 1.5rem;
  }
  .show_more_btn {
    width: 100%;
    padding: 5rem;
  }
  .top_heading {
    text-align: center;
  }
}

.show_more_btn {
  color: #ddd;
  background-color: #272727;
  font-size: 0.8rem;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 999px;
  text-align: center;
  cursor: pointer;
}

.show_more_btn:hover {
  opacity: 0.9;
}

.show_more_btn:focus {
  outline: none;
}

.show_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=source.css.map */