@import "base";

.error_message {
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.spinner {
  width: 50px;
  text-align: center;
  margin: 2rem auto;
  display: grid;
  justify-content: center;
}

// Header section
@import "nav";

// Home Section
@import "anime-item";

// Anime Info
@import "anime-info";

// Media queries
@import "media-queries";
